/*UTILIS*/
:root {
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --active-color: #87cefa;
  --titles-color: #212121;
  --discreption-color: #757575;
  --footer-color: #2f303a;
  --text-letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*BASE*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: var(--text-letter-spacing);
  margin: 0;
  padding: 0;
}

.lists {
  list-style: none;
}

.links {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .servises-section .container {
    padding: 0px -15px;
    font-size: 0px;
    outline: 1px solid tomato;
  }
}

/*COMPANENTS*/
.hero .title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.text-list-itme .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--titles-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .text-section .text-list-itme .title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .team-section .title,
  .customer-section .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.179;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section .title,
  .customer-section .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    text-align: center;
    margin-bottom: 30px;
  }
}

.list-name .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.167;
  color: var(--titles-color);
  margin-bottom: 10px;
}

.servises-section .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  font-family: Raleway;
  text-align: center;
  color: var(--titles-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.social-media .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.list-name {
  padding: 30px;
}

.galery-list-itme .list-name {
  padding: 20px;
}

.sub-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  text-align: center;
  color: var(--discreption-color);
}

.team-list-itme .sub-title {
  margin-bottom: 16px;
}

.social-media {
  width: 206px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
}

.list-name .social-media-list {
  margin-left: auto;
  margin-right: auto;
}

.social-media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:focus, .social-media-link:hover {
  outline: none;
  background-color: var(--accent-color);
}

.footer .social-media-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-media-link:hover, .footer .social-media-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-icon {
  fill: #ffffff;
}

.social-media-link:focus .social-icon,
.social-media-link:hover .social-icon {
  fill: #ffffff;
}

.forum-submit {
  margin-top: 30px;
  padding: 10px auto;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--accent-color);
  color: #ffffff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .footer-forum .forum-submit {
    position: relative;
    padding: 10px 62px 10px 29px;
    min-width: 200px;
    height: 50px;
    margin: 0;
    background-color: var(--accent-color);
    color: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.user-send-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 29px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-btn {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: #efefef;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal-btn:active {
  -webkit-columns: var(--active-color);
          columns: var(--active-color);
}

.filter-modal-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: #212121;
  background-color: #f5f4fa;
  border-style: none;
  height: 38px;
  padding: 6px 22px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-modal-btn:hover, .filter-modal-btn:focus {
  outline: none;
  background-color: var(--accent-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*LAYOUT*/
.header {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list-itme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    height: 16px;
  }
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  color: #2196f3;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover, .logo-link:focus {
  cursor: pointer;
}

.logo-link .logo-part-name {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.nav-list-itme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 16px;
}

.nav-list-itme:not(:last-child) {
  margin-right: 50px;
}

.studio .nav-list-itme:first-child::after,
.portfolio .nav-list-itme:nth-child(even)::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.071;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover, .nav-list-link:focus {
  outline: none;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: auto;
  }
  .contact-list-itme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 16px;
  }
  .contact-list-itme:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-list-itme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 16px;
  }
  .contact-list-itme:first-child {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contact-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover, .contact-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link:hover .my-mail,
.contact-list-link:hover .my-mail, .contact-list-link:focus .my-mail,
.contact-list-link:focus .my-mail {
  fill: var(--accent-color);
}

.contact-list-link:hover .my-phone,
.contact-list-link:hover .my-phone, .contact-list-link:focus .my-phone,
.contact-list-link:focus .my-phone {
  fill: var(--accent-color);
}

.contact-list-link:active {
  color: var(--active-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
  }
}

.my-mail {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .my-mail {
    width: 14px;
    height: 10px;
  }
}

.my-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .my-phone {
    height: 14px;
  }
}

.hero {
  width: 100%;
  background-color: #2f303a00;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: url("/images/hero/hero-mobile-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/hero/hero-mobile-01@2.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url("/images/hero/hero-tablet-01.jpg");
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/hero/hero-tablet-01@2.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: url("/images/hero/hero-desktop-01.jpg");
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/hero/hero-desktop-01@2.jpg");
  }
}

.text-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .text-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .text-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.text-list-itme {
  width: 100%;
}

.text-list-itme:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .text-list-itme {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .text-list-itme {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.icon-box {
  position: relative;
  display: block;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .icon-box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-box {
    width: 270px;
  }
}

.my-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}

.discreption {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: var(--discreption-color);
}

@media screen and (max-width: 1199px) {
  .servises-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .servises-section {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .servises-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .servises-list-itme {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.servises-img-box {
  width: 370px;
  position: relative;
}

.servises-oppression {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  border-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list-itme {
  max-width: 450px;
  margin-left: auto;
  margin-bottom: auto;
  background-color: #ffffff;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .team-list-itme:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list-itme:hover, .team-list-itme:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .team-list-itme {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    mwidth: 352px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-itme {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
    min-width: 260px;
  }
}

.team-person-img {
  width: 100%;
  max-height: 450px;
}

@media screen and (max-width: 1199px) {
  .customer-section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.customer-list-itme {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .customer-list-itme {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customer-list-itme {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.costom-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costom-list-link:hover, .costom-list-link:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.costom-list-link:hover .list-hover,
.costom-list-link:hover .list-hover, .costom-list-link:focus .list-hover,
.costom-list-link:focus .list-hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .costom-list-link {
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .costom-list-link {
    width: 170px;
  }
}

.custom-icon-yaco {
  width: 44px;
  height: 50px;
}

.list-hover {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-icon-company {
  width: 40px;
  height: 52px;
}

.custom-icon-company-1 {
  width: 41px;
  height: 43px;
}

.custom-icon-foster-petrs {
  width: 80px;
  height: 42px;
}

.custom-icon-brand {
  width: 59px;
  height: 47px;
}

.custom-icon-company2 {
  width: 88px;
  height: 44px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    width: 50%;
  }
}

.footer .logo-link {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.footer .logo-part-name {
  color: #ffffff;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  text-decoration: none;
  color: #ffffff;
  height: 21px;
  padding-top: 10px;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  outline: none;
  color: var(--accent-color);
}

.address-link:active {
  color: var(--active-color);
}

.footer .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

.footer .contact-list-itme {
  display: flexbox;
  width: 231px;
  height: 21px;
  padding-top: 10px;
  margin-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
}

.footer .contact-list-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .contact-list-link:hover, .footer .contact-list-link:focus {
  outline: none;
  color: var(--accent-color);
}

.footer-forum {
  padding: 10px;
  text-align: center;
}

.footer-forum .call-to-action {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-user-contact-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-forum .user-cont-input {
  width: 100%;
  height: 50px;
  padding: 15px 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-forum .user-cont-input:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer-forum .user-cont-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-forum .user-cont-input {
    width: 368px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  overflow: scroll;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 565px;
    overflow: hidden;
  }
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 12px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  outline: none;
  cursor: pointer;
}

.btn-close {
  width: 11px;
  height: 11px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close .modal-close-btn:hover,
.modal-close-btn:focus .btn-close {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.user-contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.call-to-action {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.user-cont-lable {
  margin-bottom: 4px;
}

.user-cont-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-cont-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.user-cont-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.user-input-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form-input-icon {
  position: absolute;
  width: 15px;
  height: 13px;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin: 0 auto;
  margin-bottom: 25px;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment::placeholder {
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.user-cont-lable {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.user-polis-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.costom-police-lable {
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.custom-police-link {
  color: var(--accent-color);
}

.custom-checkbox-icon {
  position: absolute;
  top: 50%;
  left: -9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  left: 0;
  border: 1px solid #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.custom-police-checkbox:checked + .custom-checkbox-icon {
  outline: none;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.custom-police-checkbox:focus + .custom-checkbox-icon {
  outline: none;
  border-color: var(--accent-color);
}

.burger-btn,
.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.burger-icon:hover, .burger-icon:focus,
.close-icon:hover,
.close-icon:focus {
  fill: var(--accent-color);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  outline: 1px solid teal;
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.mobile-menu.is-open {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.mobile-menu-nav {
  margin-bottom: 60px;
}

.mobile-menu-nav-itme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mobile-menu-nav-itme:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-itme:first-child::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 66px;
  height: 4px;
  margin-top: 8px;
  border-radius: 2px;
  background-color: var(--accent-color);
  text-align: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contsct-itme:first-child {
  margin-bottom: 16px;
}

.mobile-menu-contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contact-link:hover, .mobile-menu-contact-link:focus {
  color: var(--accent-color);
}

.mobile-menu-contact-link:hover .my-mail,
.mobile-menu-contact-link:hover .my-mail, .mobile-menu-contact-link:focus .my-mail,
.mobile-menu-contact-link:focus .my-mail {
  fill: var(--accent-color);
}

.mobile-menu-contact-link:hover .my-phone,
.mobile-menu-contact-link:hover .my-phone, .mobile-menu-contact-link:focus .my-phone,
.mobile-menu-contact-link:focus .my-phone {
  fill: var(--accent-color);
}

.mobile-menu-contact-link:active {
  color: var(--active-color);
}

.mobile-menu-contact-link .my-phone {
  height: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu-contact-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
  }
}

.mobile-menu-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover, .mobile-menu-link:focus {
  outline: none;
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */