.burger-btn,
.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  transition: fill 250ms linear;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
.mobile-menu {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  outline: 1px solid teal;
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center;
  transition: transform 250ms linear;
}
.mobile-menu.is-open {
  transform: translate(-50%, 0);
}

.mobile-menu-nav {
  margin-bottom: 60px;
}

.mobile-menu-nav-itme {
  display: flex;
  flex-direction: column;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &:first-child::after {
    display: flex;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    content: "";
    width: 66px;
    height: 4px;
    margin-top: 8px;
    border-radius: 2px;
    background-color: var(--accent-color);
    text-align: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-menu-contsct-itme {
  &:first-child {
    margin-bottom: 16px;
  }
}
.mobile-menu-contact-link {
  @include align();
  justify-content: center;
  //flex-shrink: 0;
  @include font(18px, 500, 21px);
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);

    & .my-mail,
    & .my-mail {
      fill: var(--accent-color);
    }
    & .my-phone,
    & .my-phone {
      fill: var(--accent-color);
    }
  }
  &:active {
    color: var(--active-color);
  }
  & .my-phone {
    height: 14px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include font(12px, 500, 14px);
  }
}
.mobile-menu-link {
  @include font(18px, 500, 21px);
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    color: var(--accent-color);
  }
}
