.burger-btn,
.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  transition: fill 250ms linear;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  z-index: 100;
  overflow: scroll;
  transform: translate(-50%, -100%);
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  //outline: 1px solid teal;
  padding: 48px 40px 48px 40px;

  transition: transform 250ms linear;
}
.mobile-menu.is-open {
  transform: translate(-50%, 0);
}

.mobile-menu-nav-list {
  margin-bottom: 60px;
}

.mobile-menu-nav-itme {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu-bottom {
  margin-top: auto;
}
.mobile-menu-contsct-list {
  margin-bottom: 64px;
}
.mobile-menu-contsct-itme {
  &:first-child {
    margin-bottom: 32px;
  }
  &:last-child .mobile-menu-contact-link {
    @include font(24px, 500, 28px);
    color: #757575;
  }
}

.mobile-menu-link {
  @include font(40px, 500, 47px);
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    color: var(--accent-color);
  }
}

.mobile-menu-contact-link {
  display: flex;
  @include font(34px, 500, 40px);
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:active {
    color: var(--active-color);
  }
  @media screen and(max-width:424px) {
    @include font(26px, 500, 32px);
  }
}

.social-set {
  width: 357px;
  display: flex;
.social-set-itme {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.social-set-itme:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  width: 22px;
  height: 0px;
  transform: translateY(-50%);
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  @media screen and(max-width:480px) {
    width: 15px;
  }
}

.social-set-link {
  @include font(18px, 500, 22px);
  color: #2196f3;
  @media screen and(max-width:480px) {
    @include font(12px, 500, 14px);
  }
}
