.filter-list {
  margin-bottom: 40px;
  margin-top: -15px;
  font-size: 0;
  @media screen and(min-width: 768px) {
    display: flex;
    margin: 60px auto 30px auto;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    margin: 94px auto 50px auto;
  }
}
.filter-list-itme {
  display: inline-block;
  font-size: 0;
  margin-top: 15px;
}
