.filter-box {
  padding-top: 60px;
  padding-bottom: 40px;
  @media screen and(min-width: 768px) {
    display: flex;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
.filter-list {
  font-size: 0;
  @media screen and(max-width:767px) {
    margin-bottom: -15px;
  }
}
.filter-list-itme {
  display: inline-block;
  font-size: 0;
  @media screen and(max-width:767px) {
    margin-bottom: 15px;
  }
}
