.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contacts {
  @media screen and(max-width:1199px) {
    text-align: center;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 70px;
  }
}
.footer .logo-link {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .logo-part-name {
  color: #ffffff;
}
.address {
  @media screen and(max-width:1199px) {
    text-align: center;
  }
}
.address-link {
  font-style: normal;
  @include font(14px, 400, 24px);
  text-decoration: none;
  color: #ffffff;
  height: 21px;
  padding-top: 10px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    color: var(--accent-color);
  }
  &:active {
    color: var(--active-color);
  }
}
.footer .contact-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.footer .contact-list-itme {
  display: flexbox;
  width: 231px;
  height: 21px;
  padding-top: 10px;
  margin-bottom: 9px;
  @media screen and(max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .contact-list-link {
  display: block;
  @include font(14px, 500, 24px);
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    color: var(--accent-color);
  }
}

// }
@media (min-width: 768px) and (max-width: 1199px) {
  .footer-child {
    width: 50%;
  }
  .footer .container:last-child {
    justify-content: center;
  }
}
