.portfolio-galery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.galery-list-itme {
  margin: 15px;
}
.galegry-list-link {
  display: block;
  outline: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-img-box {
  position: relative;
  overflow: hidden;
}
.owerlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  @include font(18px, 400, 28px);
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .galegry-list-link:hover &,
  .galegry-list-link:focus & {
    transform: translateY(0%);
  }
}
