.hero {
  background-color: #2f303a00;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/hero/hero.jpg");

  background-size: cover;
  background-position: center;
}
