.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  display: flex;
  width: 1200px;
  padding: 0 -15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-itme {
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
