.text-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.text-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.text-list-itme {
  //display: flexbox;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and(min-width:768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}
.icon-box {
  position: relative;
  display: block;
  //width: 100%;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}
.my-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}

.discreption {
  @include font(14px, 400, 24px);
  color: var(--discreption-color);
}
// &::before {
//   content: "";
//   display: block;
//   width: 70px;
//   height: 70px;
//   padding: 50px auto;
//   margin-bottom: 30px;
//   background-color: #f5f4fa;
//   background-position: center;
//   background-repeat: no-repeat;
// }
// @media screen and (min-width: 768px) {
//   width: calc((100% - 2 * 30px) / 2);
//   margin: 15px;

//   &::before {
//     padding: 60px 180px;
//   }
// }
// @media screen and (min-width: 1200px) {
//   width: calc((100% - 4 * 30px) / 4);
//   margin: 15px;

//   &::before {
//     padding: 60px 135px;
//   }
// }

// .icon-tarelka::before {
//   background-image: url("/images/svg/tarelka.svg");
// }
// .icon-clock::before {
//   background-image: url("/images/svg/clock.svg");
// }
// .icon-diagram::before {
//   background-image: url("/images/svg/diagram.svg");
// }
// .icon-cosmonaut::before {
//   background-image: url("/images/svg/cosmonaut.svg");
// }
// .discreption {
//   @include font(14px, 400, 24px);
//   color: var(--discreption-color);
// }
