.text-section {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .text-list {
    display: block;
  }
  .text-list-itme {
    display: flexbox;
    width: 450px;

    &::before {
      content: "";
      display: block;
      width: 70px;
      height: 70px;
      padding: 25px 190px;
      margin-bottom: 30px;
      background-color: #f5f4fa;
      border-radius: 4px;
      background-position: center;
      background-repeat: no-repeat;
    }
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
  .icon-tarelka::before {
    background-image: url("/images/svg/tarelka.svg");
  }
  .icon-clock::before {
    background-image: url("/images/svg/clock.svg");
  }
  .icon-diagram::before {
    background-image: url("/images/svg/diagram.svg");
  }
  .icon-cosmonaut::before {
    background-image: url("/images/svg/cosmonaut.svg");
  }
  .discreption {
    @include font(14px, 400, 24px);
    color: var(--discreption-color);
  }
}
@media screen and (min-width: 768px) {
  .text-list-itme {
    width: 738px;
    calc
  }
}
