.social-media-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;

  & .team-container {
    //justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
