.social-media {
  @media screen and(min-width:480px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    //width: 206px;
    //height: 80px;
    //margin-right: 83px;
  }
}
