.title {
  .hero & {
    @include font(26px, 900, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    //vertical-align: middle;
    margin-bottom: 30px;
  }
  .text-list-itme & {
    @include font(14px, 700, 16px);
    text-transform: uppercase;
    color: var(--titles-color);
    margin-bottom: 10px;

    .text-section & {
      @media screen and(max-width:767px) {
        text-align: center;
      }
    }
  }
  .team-section &,
  .customer-section & {
    @media screen and (max-width: 1199px) {
      @include font(28px, 700, 33px);
      text-align: center;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
      @include font(36px, 700, 42px);
      text-align: center;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .list-name & {
    @include font(18px, 500, 21px);
    color: var(--titles-color);
    margin-bottom: 10px;
  }

  .servises-section & {
    @include font(36px, 700, 42px);
    font-family: Raleway;
    text-align: center;
    color: var(--titles-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .social-media & {
    @include font(14px, 700, 16px);
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
}
