:root {
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --active-color: #87cefa;
  --titles-color: #212121;
  --discreption-color: #757575;
  --footer-color: #2f303a;
  --text-letter-spacing: 0.03em;
}
